<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.RobotsMapper">
    
    <resultMap type="Robots" id="RobotsResult">
        <result property="robotId"    column="robot_id"    />
        <result property="batteryLevel"    column="battery_level"    />
        <result property="healthStateId"    column="health_state_id"    />
        <result property="robotTypeId"    column="robot_type_id"    />
        <result property="currentLatitude"    column="current_latitude"    />
        <result property="currentLongitude"    column="current_longitude"    />
        <result property="targetLatitude"    column="target_latitude"    />
        <result property="targetLongitude"    column="target_longitude"    />
        <result property="targetPositionId"    column="target_position_id"    />
        <result property="flowPositionId"    column="flow_position_id"    />
        <result property="followingStudentId"    column="following_student_id"    />
        <result property="communicationUrl"    column="communication_url"    />
        <result property="controlKey"    column="control_key"    />
    </resultMap>

    <sql id="selectRobotsVo">
        select robot_id, battery_level, health_state_id, robot_type_id, current_latitude, current_longitude, target_latitude, target_longitude, target_position_id, flow_position_id, following_student_id, communication_url, control_key from robots
    </sql>

    <select id="selectRobotsList" parameterType="Robots" resultMap="RobotsResult">
        <include refid="selectRobotsVo"/>
        <where>  
            <if test="batteryLevel != null "> and battery_level = #{batteryLevel}</if>
            <if test="healthStateId != null "> and health_state_id = #{healthStateId}</if>
            <if test="robotTypeId != null "> and robot_type_id = #{robotTypeId}</if>
            <if test="currentLatitude != null "> and current_latitude = #{currentLatitude}</if>
            <if test="currentLongitude != null "> and current_longitude = #{currentLongitude}</if>
            <if test="targetLatitude != null "> and target_latitude = #{targetLatitude}</if>
            <if test="targetLongitude != null "> and target_longitude = #{targetLongitude}</if>
            <if test="targetPositionId != null "> and target_position_id = #{targetPositionId}</if>
            <if test="flowPositionId != null "> and flow_position_id = #{flowPositionId}</if>
            <if test="followingStudentId != null  and followingStudentId != ''"> and following_student_id = #{followingStudentId}</if>
            <if test="communicationUrl != null  and communicationUrl != ''"> and communication_url = #{communicationUrl}</if>
            <if test="controlKey != null  and controlKey != ''"> and control_key = #{controlKey}</if>
        </where>
    </select>
    
    <select id="selectRobotsByRobotId" parameterType="String" resultMap="RobotsResult">
        <include refid="selectRobotsVo"/>
        where robot_id = #{robotId}
    </select>

    <insert id="insertRobots" parameterType="Robots">
        insert into robots
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="robotId != null">robot_id,</if>
            <if test="batteryLevel != null">battery_level,</if>
            <if test="healthStateId != null">health_state_id,</if>
            <if test="robotTypeId != null">robot_type_id,</if>
            <if test="currentLatitude != null">current_latitude,</if>
            <if test="currentLongitude != null">current_longitude,</if>
            <if test="targetLatitude != null">target_latitude,</if>
            <if test="targetLongitude != null">target_longitude,</if>
            <if test="targetPositionId != null">target_position_id,</if>
            <if test="flowPositionId != null">flow_position_id,</if>
            <if test="followingStudentId != null">following_student_id,</if>
            <if test="communicationUrl != null and communicationUrl != ''">communication_url,</if>
            <if test="controlKey != null and controlKey != ''">control_key,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="robotId != null">#{robotId},</if>
            <if test="batteryLevel != null">#{batteryLevel},</if>
            <if test="healthStateId != null">#{healthStateId},</if>
            <if test="robotTypeId != null">#{robotTypeId},</if>
            <if test="currentLatitude != null">#{currentLatitude},</if>
            <if test="currentLongitude != null">#{currentLongitude},</if>
            <if test="targetLatitude != null">#{targetLatitude},</if>
            <if test="targetLongitude != null">#{targetLongitude},</if>
            <if test="targetPositionId != null">#{targetPositionId},</if>
            <if test="flowPositionId != null">#{flowPositionId},</if>
            <if test="followingStudentId != null">#{followingStudentId},</if>
            <if test="communicationUrl != null and communicationUrl != ''">#{communicationUrl},</if>
            <if test="controlKey != null and controlKey != ''">#{controlKey},</if>
         </trim>
    </insert>

    <update id="updateRobots" parameterType="Robots">
        update robots
        <trim prefix="SET" suffixOverrides=",">
            <if test="batteryLevel != null">battery_level = #{batteryLevel},</if>
            <if test="healthStateId != null">health_state_id = #{healthStateId},</if>
            <if test="robotTypeId != null">robot_type_id = #{robotTypeId},</if>
            <if test="currentLatitude != null">current_latitude = #{currentLatitude},</if>
            <if test="currentLongitude != null">current_longitude = #{currentLongitude},</if>
            <if test="targetLatitude != null">target_latitude = #{targetLatitude},</if>
            <if test="targetLongitude != null">target_longitude = #{targetLongitude},</if>
            <if test="targetPositionId != null">target_position_id = #{targetPositionId},</if>
            <if test="flowPositionId != null">flow_position_id = #{flowPositionId},</if>
            <if test="followingStudentId != null">following_student_id = #{followingStudentId},</if>
            <if test="communicationUrl != null and communicationUrl != ''">communication_url = #{communicationUrl},</if>
            <if test="controlKey != null and controlKey != ''">control_key = #{controlKey},</if>
        </trim>
        where robot_id = #{robotId}
    </update>

    <delete id="deleteRobotsByRobotId" parameterType="String">
        delete from robots where robot_id = #{robotId}
    </delete>

    <delete id="deleteRobotsByRobotIds" parameterType="String">
        delete from robots where robot_id in 
        <foreach item="robotId" collection="array" open="(" separator="," close=")">
            #{robotId}
        </foreach>
    </delete>
</mapper>